.headline img {
    height: 72px;
    display: flex;
    align-items: center;
}

.headline {
    background-color: orange;
}




.burgerImg {
    display: flex;
    text-align: center;
    background-image: url(img/Favicon/burger-8404116_1280.jpg);
    background-size: cover;
    height: 160px;
    background-position: center;
    justify-content: center;
    position: relative;
}

.burger_icon {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 120px;
    background-color: #c9c1b0;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 1px solid black;
}

.icon {
    height: 56px;
}

.content {
    display: flex;
}


.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navbar {
    display: flex;
    gap: 8px;
    background-color: #ebe9ca;
    margin-top: 40px;
    height: 56px;
    align-items: center;
}

.foodImg {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.menu {
    border: 1px solid black;
   
    display: flex;
    justify-content: space-between;
}

.btn{
    height: 36px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    border: 0;
    width: 36px;
}
